{% extends 'AppCoder/padre.html' %}

{% load static %}


{% block ContenidoQueCambia %}

<h1 style="color:brown">Formulario de Inmuebles</h1>
<form action="/AppCoder/inmuebleFormulario" method = "POST">{% csrf_token %}

    <table>
        
    {{ miFormulario2.as_table }}
    </table>
    <!---
    <p>Marca: <input type="text" name="marca"></p> 
    <p>Modelo: <input type="number" name="modelo"></p> 
    <p>Tipo: <input type="text" name="tipo"></p> 
    <p>Entregado: <input type="checkbox" name="entregado"></p> -->

    <input type="submit" value="Enviar">
</form>


{% endblock %}

    
